// font size
$bodysize: 16px !default;

// font family
$robotocondensed: 'Roboto Condensed';

// Black color
$black: #000000;
// gray Color
$gray: #909090;
// white Color
$white: #fff;
// golden Color
$golden: #F1D341;
// brown Color
$brown: #472d0b;
// brown Color
$lightgray: #edf0f2;

//Image path
$imageUrl: '../images';
// sitefont
$siteFont: '../vendor/fonts/site-fonts';


